body {
  padding: 0px;
  margin: 0px;
  font-family: "Calibri";
  color: #555;
  font-weight: 300;
  font-size: 18px;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a:link,a:visited { color: #555; }

#preload-images {
  position: fixed;
  left: 99999px;
  top: 99999px;
  opacity: 0;
}

#splash-screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999999;
}

#monogram {
  width: 200px;
  height: 200px;
  display: block;
  background: url("../images/monogram.jpg") no-repeat center;
  background-size: 80%;
}

@keyframes pulsate  {
  0% { opacity: 1.0; }
  40% { opacity: 1.0; }
  100% { opacity: 0; }
}

#loading-description {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: 80px;
  left: 0px;
}

#circle-leaves {
  position: absolute;
  top: calc(50% - 10px);
  left: -50px;
  width: 0px;
  height: 0px;
}

#circle-leaves span {
  position: absolute;
  width: 300px;
  height: 20px;
  background: url("../images/leaf.png") transparent;
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  opacity: 0.1;
  transition: 2s ease all;
}

#circle-leaves span.loaded {
  opacity: 1.0;
}

#circle-leaves span:nth-child(1) { transform: rotate(270deg); }
#circle-leaves span:nth-child(2) { transform: rotate(285deg); }
#circle-leaves span:nth-child(3) { transform: rotate(300deg); }
#circle-leaves span:nth-child(4) { transform: rotate(315deg); }
#circle-leaves span:nth-child(5) { transform: rotate(330deg); }
#circle-leaves span:nth-child(6) { transform: rotate(345deg); }

#circle-leaves span:nth-child(7) { transform: rotate(0deg); }
#circle-leaves span:nth-child(8) { transform: rotate(15deg); }
#circle-leaves span:nth-child(9) { transform: rotate(30deg); }
#circle-leaves span:nth-child(10) { transform: rotate(45deg); }
#circle-leaves span:nth-child(11) { transform: rotate(60deg); }
#circle-leaves span:nth-child(12) { transform: rotate(75deg); }
#circle-leaves span:nth-child(13) { transform: rotate(90deg); }
#circle-leaves span:nth-child(14) { transform: rotate(105deg); }
#circle-leaves span:nth-child(15) { transform: rotate(120deg); }
#circle-leaves span:nth-child(16) { transform: rotate(135deg); }
#circle-leaves span:nth-child(17) { transform: rotate(150deg); }
#circle-leaves span:nth-child(18) { transform: rotate(165deg); }
#circle-leaves span:nth-child(19) { transform: rotate(180deg); }
#circle-leaves span:nth-child(20) { transform: rotate(195deg); }
#circle-leaves span:nth-child(21) { transform: rotate(210deg); }
#circle-leaves span:nth-child(22) { transform: rotate(225deg); }
#circle-leaves span:nth-child(23) { transform: rotate(240deg); }
#circle-leaves span:nth-child(24) { transform: rotate(255deg); }

#svg-wrapper {
  position: relative;
  display: none;
}

.no-pulsate {
  animation: 0s !important;
}

.bar {
  width: 0%;
  border-bottom: 2px solid;
  position: absolute;
  transition: 1s ease all;
}

#bar-1 {
  right: 55%;
  border-color: #365433;
}

#bar-2 {
  left: 55%;
  border-color: #c1a048;
}

.bg { background: #0099ff; }

#page1 {
  background: url("../images/bg1.jpg") no-repeat top right, url("../images/bg2.jpg") no-repeat bottom left;
}

.page,.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.banner {

}

#leaves {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.leaves1 {
  position: absolute;
  left: -15vw;
  width: 30vw;
  top: -15vh;
  animation: 2s linear leavesRepeat infinite alternate;
}

.leaves2 {
  position: absolute;
  width: 30vw;
  height: auto;
  left: -7vw;
  top: 10vh;
  z-index: 999;
}

.leaves3 {
  position: absolute;
  width: 30vw;
  height: auto;
  right: -7vw;
  top: -100%;
  z-index: 999;
  transform: rotate(-10deg);
  animation: 2s linear leavesRepeat infinite alternate;
}

.leaves4 {
  position: absolute;
  width: 30vw;
  height: auto;
  right: -7vw;
  top: 0vh;
  z-index: 999;
  transform: rotate(-180deg);
}

.leaves5 {
  position: absolute;
  width: 30vw;
  height: auto;
  left: -7vw;
  top: -50%;
  z-index: 999;
  transform: rotate(-170deg);
  animation: 2s linear leavesRepeat infinite alternate;
}

.flower {
  position: absolute;
  width: 70%;
  height: auto;
  bottom: 0px;
  left: -15%;
  bottom: -8%;
  z-index: 999;
}

.banner {
  height: auto;
  display: block;
  background: #eee;
  padding: 50px 0px;
  box-sizing: border-box;
}

.wrapper-image {
  display: block;
  position: relative;
}

.page img.normal-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.banner img.normal-image {
  height: 70%;
  max-width: 50%;
}

.page > img.normal-image,.wrapper-image {
  transition: 0.3s ease all;
  height: 80%;
  max-width: 80%;
}

.page .wrapper-image > img.normal-image {
  transition: 0.3s ease all;
  height: 100%;
}
